environment:
  - nodejs_version: "0.10"
  - nodejs_version: "0.11"
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install
build: off
test_script:
  - node --version
  - npm --version
  - npm test
